[*]
indent_size=4
max_line_length=100


csharp_space_between_parentheses=expressions, type_casts, control_flow_statements
csharp_style_var_for_built_in_types=true
resharper_csharp_brace_style=end_of_line




