@{
    ViewBag.Title = "About";
}

@using Agatha.Helpers

<section class="module module-parallax">
    <div class="container">
    <!-- CONTENT BOX -->
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 col-md-8 col-lg-8">
            <p>
                @Html.imageHtml("~/images/about/agatha_and_stefa/agatha_and_stefa-600x.jpg")
            </p>
            <p>
                Agatha Belaya was born in 1975, in St.Petersburg. It might have
                been the beauty of this most European Russian city that nourished her
                artistic nature and helped her to choose her way. Though not
                artists themselves, Agatha's parents showed an interest in the arts and
                fully supported her desire to become a painter.
            </p>

            <p>
                In 1995, Belaya entered the most renowned art school in Russia - the
                St. Petersburg Academic Institute of Painting, Sculpture, and Architecture named after Ilya E. Repin. As a
                student, she worked in the Monumental Art studio, run by a famous painter
                Mylnikov.
            </p>

            <p>
                In 1999 a fifth-year student Agatha Belaya was chosen to join
                the group of artists to paint murals in the newly restored Cathedral of
                Christ the Savior in Moscow, the cathedral of great symbolic
                importance for the Russian Orthodox Church and for the whole
                post-communist Russia. Later Agatha also painted murals for the
                Znamensky Cathedral of the Virgin Mary in Kursk, Russia. Agatha
                believes that painting murals in those cathedrals contributed a lot
                not only to her artistic, but personal coming-to-be.
            </p>

            <p>
                Upon graduation in 2001 as the top student, Agatha Belaya was
                awarded a presidential fellowship and an honorary recognition from the
                Russian Union of Artists. She received an individual art studio as a
                three-year special grant to acknowledge her academic and artistic
                achievements. Since 2001, Agatha Belaya has participated in numerous art
                exhibitions and festivals, both in Russia and abroad, including the USA.
            </p>
            <p>
                In August 2005, with her painting "The Morning", Agatha became a
                winner in the Second All-Russia Competition of Young Artists held
                by the world-famous Tretyakov Gallery in Moscow. It is the most recent
                and very treasured addition to her collection of awards.
            </p>
        </div>
    </div>
    <!-- /CONTENT BOX -->
    </div>
</section>